<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
    {% csrf_token %}                <!--Каждый пост запрос должен содержать {% csrf_token %} для скрытия информации-->
    <input type="text" name="message">                                                           <!--Поле для ввода-->
    <button type="submit">Send</button>                                          <!--Кнопка для отправки результата-->
    </form>

</body>
</html>

<!---->